body
{
  background-color:grey;
  font-family: 'Ubuntu', sans-serif;
}

h1
{
  color:black;
  font:sans-serif;
  margin:auto;
  pdding-left:30px;
}

a
{
  text-decoration: none;
}
#container
{
  height:650px;
  max-width: 1500px;
  width:90%;
  margin:auto;
  background-color:white;
}

#header
{
  background-color:white;
  height:150px;
}

#title
{
  width:670px;
  font-size: 60px;
  padding-top: 30px;
  padding-left:30px;
  float:left;
}

#subtitle
{
  font-size:20px;
  float:left;
}

#title_image
{
  float:right;
  height:150px;
  width: 450px;
}

#footer
{
  max-width: 1500px;
  width:90%;
  margin:auto;
  background-color:white;
}

.leftbar
{
  max-width: 375px;
  width:25%;
  float:left;
  height:500px;
}
#paint
{
  background-image: url('images/paint.jpg');
  background-size:100% 100%;
  background-repeat:no-repeat;
  float:left;
}

#repair
{
  background-image: url('images/repair.jpg');
  background-size:100% 100%;
  background-repeat:no-repeat;
  float:left;
  height:500px;
}

#build
{
  background-image: url('images/build.jpg');
  background-size:100% 100%;
  background-repeat:no-repeat;
  float:left;
  height:500px;
}

#weld
{
  background-image: url('images/weld.jpg');
  background-size:100% 100%;
  background-repeat:no-repeat;
  float:left;
  height:500px;
}

.cat_button
{
  border-radius: 5px;
  background-color: white;
  width:90%;
  height:40px;
  position:relative;
  margin:auto;
  margin-top:65%;
  color:black;
  font-size: 30px;
  text-align: center;
  border-style:solid;
  border-width:thick;
}
.cat_text
{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.hidden
{
  display:none;
}

#paint_details
{

}
#repair_details
{

}


  /* jQuery lightBox plugin - Gallery style */
  #gallery {

  }
  #gallery ul { list-style: none; }
  #gallery ul li { display: inline; }
  #gallery ul img {
    border: 5px solid #3e3e3e;
    border-width: 5px 5px 5px;
  }
  #gallery ul a:hover img {
    border: 5px solid #fff;
    border-width: 5px 5px 5px;
    color: #fff;
  }
  #gallery ul a:hover { color: #fff; }
