body
{
  background-color:grey;
  font-family: 'Ubuntu', sans-serif;
}

h1
{
  color:black;
  font:sans-serif;
  margin:auto;
  pdding-left:30px;

}
#container
{
  height:650px;
  width:90%;
  margin:auto;
  background-color:white;
}

#header
{
  background-color:white;
  height:150px;
}

#title
{
  font-size: 60px;
  padding-top: 40px;
  padding-left:30px;
  float:left;
}

#title_image
{
  float:right;
  height:150px;
}

#footer
{

  width:90%;
  margin:auto;
  background-color:white;
}

.leftbar
{
  width:25%;
  float:left;
  height:500px;
  background-color:#b1b1b1;
}
#paint
{
  width:25%;
  float:left;
  height:500px;
  background-color:#b1b1b1;
}

#repair
{
  width:25%;
  float:left;
  height:500px;
  background-color:#b1b1b1;
}

#build
{
  width:25%;
  float:left;
  height:500px;
  background-color:#b1b1b1;
}

#weld
{
  width:25%;
  float:left;
  height:500px;
  background-color:#b1b1b1;
}

.cat_text
{
  float:left;
  display:none;
}

.hidden
{
  display:none;
}

#paint_details
{

}
#repair_details
{

}
